
{% include /comments-providers/scripts.html %}
<script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
    //<![CDATA[
      Kakao.init('3b0ac722458009d5ded834954bdcb1ea');
      function sendLink() {
        Kakao.Link.sendDefault({
          objectType: 'feed',
          content: {
            title: '{{ page.title }}',
            description: '{{ page.tags }}',
            imageUrl: '{{ page.image | prepend: "https://076923.github.io"}}',
            link: {
              mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
              webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
            }
          },
          buttons: [
            {
              title: '웹으로 보기',
              link: {
                mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
              }
            },
            {
              title: '앱으로 보기',
              link: {
                mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
              }
            }
          ]
        });
      }
    //]]>
  </script>