<script>
$(function () {
    if ($(location).attr("href").includes("#") && !$(location).attr("href").includes("top")){
        var headerHeight = $(document.getElementsByClassName("masthead")).outerHeight();
        var position = $(window).scrollTop() - headerHeight - 12;
        $("html, body").animate({ scrollTop: position }, 600, "swing");
    }
    
    $(".header-link").on("click", function(e){
        e.preventDefault();
        var headerHeight = $(document.getElementsByClassName("masthead")).outerHeight();
        var href = $(this).attr("href");
        var target = $(document.getElementById(href.slice(1)));
        var position = target.offset().top - headerHeight - 12;
        $("html, body").animate({ scrollTop: position }, 600, "swing");
    });
    $(".anchor").on("click", function(e){
        e.preventDefault();
        var headerHeight = $(document.getElementsByClassName("masthead")).outerHeight();
        var href = $(this).attr("href");
        var target = $(document.getElementById(href.slice(1)));
        var position = target.offset().top - headerHeight - 12;
        $("html, body").animate({ scrollTop: position }, 600, "swing");
    }); 
});
</script>
