---
bg: 'move.gif'
layout: default
crawlertitle: "076923 : Main"
title: "YUN DAE HEE"
summary: "C#, Python, Arduino, OpenCV, CAD, etc."
---
<center>
    <br>
    {% include boxad-3.html %}
</center>
{% for post in site.posts limit: 5 %}
  <article class="index-page">
    <h2><a href="{{ post.url }}">{{ post.title }}</a><span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span></h2>
     
    {{ post.excerpt }}
  </article>
{% endfor %}
<br>
<br>
<center>
    {% include boxad-4.html %}
</center>
