{% assign page_author_name = page.author.name | default: site.author.name | default: nil | escape %}
{% assign page_author_short_bio = page.author.short_bio | default: site.author.short_bio | default: nil | escape %}
{% assign page_author_picture = page.author.picture | default: site.author.picture | default: nil | escape %}

{% capture about_url %}{% include get-page-url.html page_ref="about" %}{% endcapture %}

{% if page_author_name %}
<div class="author-article">
  <div class="author-picture">
    <a href="/posts/#{{ page.tags }}">
      <img src="{{ page.image }}" class="page-image" alt="{{ page_author_name }}">
    </a>
  </div>

  <div class="author-bio">
    <span class="page-title">
      {{ page.title }}
    </span>
    <div>
      {%if page.tags %}
        [
        {% for tag in page.tags %}
          {{ tag }}
        {% endfor %}
        ]
      {%endif %}
      - {{ site.author.name }}

      <div class="facebook_share_div">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ page.url | prepend: 'https://076923.github.io' }}&amp;layout=button&amp;size=small&amp;width=72&amp;height=20&amp;appId" width="72" height="20" style="border:none;overflow:hidden;vertical-align: sub;padding-left:2px" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
      <div class="kakao_share_div">
        <a id="kakao-link-btn" href="javascript:sendLink()" style="text-decoration:none;vertical-align:sub;">
          <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" style="height:20px;" />
          <span class="kakao_share_span">공유하기</span>
        </a>
      </div>
      <script type='text/javascript'>
        //<![CDATA[
          Kakao.init('3b0ac722458009d5ded834954bdcb1ea');
          function sendLink() {
            Kakao.Link.sendDefault({
              objectType: 'feed',
              content: {
                title: '{{ page.title }}',
                description: '{{ page.tags }}',
                imageUrl: '{{ page.image | prepend: "https://076923.github.io"}}',
                link: {
                  mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                  webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
                }
              },
              buttons: [
                {
                  title: '웹으로 보기',
                  link: {
                    mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                    webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
                  }
                },
                {
                  title: '앱으로 보기',
                  link: {
                    mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                    webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
                  }
                }
              ]
            });
          }
        //]]>
      </script>

      <div class="naver_share_div">
        <a href="#" onclick="javascript:window.open('http://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=640,width=480');return false;" target="_blank" alt="Share on Naver" style="text-decoration:none;">
          <img src="{{ site.images }}/assets/images/naver.png" style="height:22px; vertical-align:sub; margin-right:-4px">
          <span class="naver_share_span">공유하기</span>
        </a>
      </div>

    </div>
    <div class="post-meta">
      {% include post-meta-info.html post_date=page.date post_ref=page.ref post_url=page.url %}
    </div>
    <!-- <div class="post-meta-list">{{ page_author_short_bio }}</div> -->
  </div>
</div>
{% endif %}

