<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% include gtag.js %}

  <title>
    {% if page.crawlertitle %}
      {{ page.crawlertitle | escape }}
    {% elsif page.title %}
      {{ page.title | escape }}
    {% else %}
      {{ site.title | escape }}
    {% endif %}
  </title>

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|Roboto+Condensed:700&subset=latin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.summary }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.summary }}">

  {% include adsense.html %}
  
  <!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/v4-shims.css">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet" type="text/css">

  <!-- KaTeX -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-alpha/dist/katex.min.css" integrity="sha384-BTL0nVi8DnMrNdMQZG1Ww6yasK9ZGnUxL1ZWukXQ7fygA1py52yPp9W4wrR00VML" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-alpha/dist/katex.min.js" integrity="sha384-y6SGsNt7yZECc4Pf86XmQhC4hG2wxL6Upkt9N1efhFxfh6wlxBH0mJiTE8XYclC1" crossorigin="anonymous"></script>
  
  <!--mathjax-->
  {% include mathjax.js %}

  {% if page.bg %}
    <meta property="og:image" content="{{ site.url }}{{ site.images }}/{{ page.bg }}">
    <meta name="twitter:image" content="{{ site.url }}{{ site.images }}/{{ page.bg }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.images }}/bg.svg">
    <meta name="twitter:image" content="{{ site.url }}{{ site.images }}/bg.svg">
  {% endif %}
  
  {% include topbutton.html %}
</head>
