<!-- http://icons2.iconarchive.com/show/flat-europe-flag-icons-by-custom-icon-design.html -->
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% assign this_page_lang = page.lang %}
{% assign posts_number = posts | size %}
{% if posts_number > 1 %}
<div style="text-align: right; padding-bottom: 1em; padding-top: 1em;">
{% for post in posts %}
  {% if post.ref and post.lang != this_page_lang %}
  <span style="padding-left: 6px; padding-right: 6px;">
    <a href="{{ post.url | prepend: site.baseurl }}">
      {{ post.lang }}
      <!-- <img src="{{ post.lang | prepend: 'assets/img/' }}.png" alt="{{ post.lang }}" class="{{ post.lang }}"> -->
    </a>
  </span>
  {% endif %}
{% endfor %}
</div>
{% endif %}

{% assign pages = site.pages | where:"ref", page.ref | sort: 'lang' %}
{% assign pages_number = pages | size %}
{% if pages_number > 1 %}
<div style="text-align: right; padding-bottom: 2em; padding-top: 1em;">
{% for page in pages %}
  {% if page.ref and page.lang != this_page_lang %}
  <span style="padding-left: 6px; padding-right: 6px;">
    <a href="{{ page.url | prepend: site.baseurl }}">
      {{ page.lang }}
      <!-- <img src="{{ page.lang | prepend: 'assets/img/' }}.png" alt="{{ page.lang }}" class="{{ page.lang }}"> -->
    </a>
  </span>
  {% endif %}
{% endfor %}
</div>
{% endif %}
