{% if page.title and page.layout == 'page' %}
  {% assign page_title = page.title | append: ' | ' | append: site.title | escape %}
{% elsif page.title and page.layout == 'category' %}
  {% assign page_title = page.title | append: ' | ' | append: site.title | escape %}
{% elsif page.title and page.layout == 'post' %}
  {% assign page_title = page.title | append: ' | ' | append: site.title | escape %}
{% elsif page.title %}
  {% assign page_title = page.title | escape %}
{% else %}
  {% assign page_title = site.title | escape %}
{% endif %}