{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1278038564950020" crossorigin="anonymous"></script>

<script>
  MathJax = {
    tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
  </script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script type='text/javascript'>
    //<![CDATA[
      Kakao.init('3b0ac722458009d5ded834954bdcb1ea');
      function sendLink() {
        Kakao.Link.sendDefault({
          objectType: 'feed',
          content: {
            title: '{{ page.title }}',
            description: '{{ page.tags }}',
            imageUrl: '{{ page.image | prepend: "https://076923.github.io"}}',
            link: {
              mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
              webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
            }
          },
          buttons: [
            {
              title: '웹으로 보기',
              link: {
                mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
              }
            },
            {
              title: '앱으로 보기',
              link: {
                mobileWebUrl: '{{ page.url | prepend: "https://076923.github.io" }}',
                webUrl: '{{ page.url | prepend: "https://076923.github.io" }}'
              }
            }
          ]
        });
      }
    //]]>
  </script>