<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<style type="text/css">
	h1 { font-size: 34px; line-height: 1.2; margin: 0.3em 0 10px; }
	#scrolltotop{position:fixed;bottom:0px;right:0px}#scrolltotop
	span{width:48px;height:48px;display:block;background:url("https://github.com/076923/076923.github.io/blob/master/assets/images/top.png?raw=true") top no-repeat;margin:0px
	15px 10px 0;border-radius:3px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;transition:all 0.2s ease-out}#scrolltotop a:hover
	span{background:url("https://github.com/076923/076923.github.io/blob/master/assets/images/top.png?raw=true") bottom no-repeat}
</style>

<script type="text/javascript">
<!--
	jQuery(function($){
	$('#scrolltotop').hide();
	$(function () {
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				$('#scrolltotop').fadeIn();
			} else {
				$('#scrolltotop').fadeOut();
			}
		});
		$('#scrolltotop a').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 1000);
			return false;
		});
	});
});
-->
</script>
