// Breakpoints
$large-breakpoint: 80em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #000 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #060606 !default; // #999999 #6c9494
$body-text-color: #24292e !default; // 606c71
$body-link-color: #1288ff !default;
$blockquote-text-color: #6a737d !default; // 819198

// Code
$code-bg-color: #1e1e1e !default;
$code-text-color: #efefef !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
