---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index2">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        {%- assign category_name = category[0] -%}
        <li id="{{ category_name | slugify }}" class="taxonomy__category">
          <div class="title">
            <h2>{{ category_name }}</h2> <span class="taxonomy__count">{{ i }}</span>
          </div>

          {% assign category_tag = "" | split: ',' %}
          {% for post in site.categories[category_name] %}
            {% assign category_tag = category_tag | push: post.tags %}
          {% endfor %}
          {% assign uniq_tag = category_tag | uniq | sort_natural %}

          <ul class="taxonomy__tags">
          {% for tag in uniq_tag %}
            {%- assign icon = site.data.image[tag] -%}
            {%- unless icon -%}
              {%- if tag contains "OpenCvSharp" or tag contains "OpenCV" -%}
                {%- assign icon = site.data.image["OpenCV"] -%}
              {%- elsif tag contains "C#" -%}
                {%- assign icon = site.data.image["C#"] -%}
              {%- endif -%}
            {%- endunless -%}
            <li>
              <a href="{{ site.posts_archive.path | relative_url }}#{{ tag | slugify }}">
                <span class="taxonomy__icon">
                  {% if icon %}<img src="{{ icon | relative_url }}" alt="" width="28" height="28" loading="lazy">{% endif %}
                  <h3>{{ tag }}</h3>
                </span>
                <span class="taxonomy__count">{{ site.tags[tag].size }}</span>
              </a>
            </li>
          {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% include adsense/main-bottom.html %}
