---
layout: default
---
<article class="post">
  

  <h1 class="post-title">{{ page.title }}</h1>


  
  
  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
    &nbsp;/&nbsp;
    <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">0 Comments</a>
    
  </p>

    
  <center>
  {% include boxad-1.html %} 　　　   {% include boxad-2.html %}
  </center>
  
  
  <div class="post-content">
    
    {{ content }}

  </div>
  
    <br>
    
    <center>
      <br>
      <b>도움이 되셨다면 광고 클릭 부탁드립니다.</b>
      <br>
      <br>
      {% include ad-1.html %}
      {% include ad-2.html %}
    </center>
  
  
   <div class="post-content">
    <div class="post-links">
      {% if page.next.url %}
        <a class="link-to-post" href="{{ page.next.url }}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ page.next.title }}</span>
        </a>
      {% endif %}

      {% if page.previous.url %}
        <a class="link-to-post" href="{{ page.previous.url }}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
    </div>

  </div>

</article>
<center>
{% include disqus.html %}
</center>
