---
layout: default
---

{% assign count = 0 %}
{% assign now = -1 %}
{% assign arr = "" | split: '' %}
{% assign arr_title = "" | split: '' %}


{% for post in site.posts %}
  {% if post.tags == page.tags %}
    {% if post.title == page.title %}
      {% assign now = count %}
    {% endif %}

    {% assign count = count | plus: 1 %}
    {% assign arr = arr | push: post.url %}
    {% assign arr_title = arr_title | push: post.title %}

  {% endif %}
{% endfor %}

{% assign next = now | minus:1 %}
{% assign prev = now | plus:1 %}

{% include article-author-bio-small.html %}
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div itemprop="articleBody">
    {{ content }}
  </div>
  <div class="post-content" style="margin-top:4em;">
    <div class="post-links">
      {% if prev != arr.size %}
        <a class="link-to-post" href="{{ arr[prev] }}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ arr_title[prev] }}</span>
        </a>
      {% endif %}
      
      {% if next != -1 %}
        <a class="link-to-post" href="{{ arr[next] }}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ arr_title[next] }}</span>
        </a>
      {% endif %}
  
    </div>
  </div>

</article>

<center>
  {% include disqus.html %}
</center>