---
layout: default
---

{% include adsense_post_top.html %}
{% assign count = 0 %}
{% assign now = -1 %}
{% assign arr = "" | split: '' %}
{% assign arr_title = "" | split: '' %}


{% for post in site.posts %}
  {% if post.tags == page.tags %}
    {% if post.title == page.title %}
      {% assign now = count %}
    {% endif %}

    {% assign count = count | plus: 1 %}
    {% assign arr = arr | push: post.url %}
    {% assign arr_title = arr_title | push: post.title %}

  {% endif %}
{% endfor %}

{% assign next = now | minus:1 %}
{% assign prev = now | plus:1 %}

{% include article-author-bio-small.html %}
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div itemprop="articleBody">
    {{ content }}
  </div>
  <br>
  <hr>
  <div class="wikibook">
    <img src="{{ site.images }}/assets/images/wikibook.jpg" alt="Book Image">
    <h1>책이 출간되었습니다!</h1>
    <h2>C#과 파이썬을 활용한 OpenCV 4 프로그래밍</h2>
    <div>
      <p>컴퓨터 비전 기초 이론부터 머신러닝을 활용한 영상 처리 프로젝트까지</p>
      <li>C# OpenCvSharp4</li>
      <li>Python OpenCV4</li>
      <li>Using Tesseract</li>
      <li>Using TensorFlow</li>
      <li>Using Regular Expression</li>
      <p>윤대희 저 | 위키북스</p>
      <a href="http://www.yes24.com/Product/Goods/77186885?scode=032&OzSrank=2">[yes24 바로가기]</a> <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=200845399">[알라딘 바로가기]</a> <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?mallGb=KOR&ejkGb=KOR&linkClass=331503&barcode=9791158391669">[교보문고 바로가기]</a>
    </div>
  </div>
  <br>
  <details>
    <summary>후원하기</summary>
    <div class="donate">
      SC제일은행 152-20-567514 윤대희<br><br>
      본 웹사이트는 광고와 후원 내용을 포함하고 있습니다.<br>
      광고 클릭과 후원금으로 발생하는 수익금은 모두 기술 콘텐츠 향상을 위해 쓰여집니다.<br>
      더 좋은 콘텐츠로 보답하겠습니다. 감사합니다.
    </div>
  </details>
  <br>
  <hr>
  <div class="post-content" style="margin-top:30px">
    <div class="post-links">
      {% if prev != arr.size %}
        <a class="link-to-post" href="{{ arr[prev] }}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ arr_title[prev] }}</span>
        </a>
      {% endif %}
      
      {% if next != -1 %}
        <a class="link-to-post" href="{{ arr[next] }}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ arr_title[next] }}</span>
        </a>
      {% endif %}
  
    </div>
  </div>
  <div class="post-links">
      <a class="link-to-post" href="/posts/#{{ page.tags }}">
        <span class="link-to-post__category">&#10535; &nbsp;Return to Category</span>
        <span class="link-to-post__title">{{ page.tags }} Category</span>
      </a>
  </div>
</article>

<center>
  {% include disqus.html %}
</center>
<br>
{% include adsense_post_bottom.html %}